<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon name="home"></ion-icon>
            Home
        </ion-tab-button>
        <ion-tab-button tab="annonce">
            <ion-icon name="add-circle-outline"></ion-icon>
            Ajouter
        </ion-tab-button>
        <ion-tab-button tab="Log-Out" (click)="deconnexion()">
            <ion-icon name="log-out"></ion-icon>
            Log-Out
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>